body {
    background: lightgreen;
}

.thumbnail img {
    width: 100%;
	min-height: 100%;
	opacity: 1;
}

.thumbnail img:hover {
	opacity: 0.9;
} 

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

.jumbotron {
	text-align: center;
}

.glyphicon {
	color: darkgreen;
}

footer {
	display: flex;
	justify-content: center;
	background: darkgreen;
	color: white;
	min-height: 10%;
}